#picture
*.png
*.jpg

#data
*.npy
*.txt
*.json
*.xml
*.avi
*.mp4

#model
*.pcd
*.obj
*.mtl

#other
*.zip

#cache
*.pyc
*.log

#necessary res
!points_3d.npy
!0.2_4_points_3d.npy
!new_ui.png
!map_.png
!mask_18.png
!mask_37.png
!mask_55.png

!requirements.txt

!doc/*

*.pdf
*.html